table {
  thead {
    th {
      padding: 5px 10px;
      background: #fafafa;
      border: 1px solid #eeeeee;
    }
  }

  tbody {
    tr {
      td {
        padding: 5px 10px;
        border: 1px solid #eeeeee;
      }
    }
  }
}
